# Ignore Terraform state files
terraform.tfstate
terraform.tfstate.backup

# Ignore Terraform crash logs
crash.log

# Ignore Terraform plan files
*.tfplan

# Ignore Terraform lock file (used for providers)
.terraform.lock.hcl

# Ignore the .terraform directory (stores downloaded providers and modules)
.terraform/

# Ignore any sensitive variable files
*.auto.tfvars
